/* This is some default styling */
  .grid-container .blocks {
    height: 500px;
  }

  .grid-container .blocks p {
    padding: 0.5rem;
  }

  .grid-container .blocks:nth-of-type(even) {
    background-color: #CCC;
  }

  .grid-container .blocks:nth-of-type(even) p {
      color: white;
  }

  .grid-container .blocks:nth-of-type(odd) {
    background-color: #AAA;
  }

  *, *::after, *::before {
  	box-sizing: border-box;
  }

  .grid-row::after {
  	content: "";
  	display: block;
  	clear: both;
  }

  .flexbox .grid-row{
  	display: flex;
  	flex-wrap: wrap;
  }


  [class^='grid-col-'] {
  	float: left;
  	padding: 0;
  	/*text-align: left;*/
  }

  .flexbox [class^='grid-col-']{
  	float: none;
  }


  /*.grid-col-1of2{
  	width: 50%;
  }*/

  .flexbox .grid-col-1of2{
  	flex-grow: 1;
  	/*width:auto;*/
    flex-basis: 100%;
  }

  .grid-item{
    width: 37%;
    float: left;
  }

  .flexbox .grid-item{
    flex-grow: 1;
    width: auto;
  }



  @media (min-width: 23.5em) {

  .main-nav img {
    width: 20%;
    margin-top: 1.7rem;
  }

  /*.main-nav-item-img a{
    text-align: center;
  }*/

  .main-nav-links{
    text-align: center;
    display: block;
  }

  .main-nav-links a{
    padding-left: 1rem;
  }

	.grid-col-1of2 {
		/*flex-basis: 100%;*/
    width: 100%;
	}

  .welcome-container h1{
    margin-left: 0;
    margin-top: 3rem;
    font-size: 2.3rem;
    text-align: center;
  }

  .welcome-container h2{
    margin-left: 0;
    text-align: center;
    /*font-size: 2.3rem;*/
  }

  .portrait img{
    max-width: 300px;
    margin: auto;
    /*margin-right: 0;*/
    display: block;
  }

  .about-container{
    margin: 0;
  }

  img.about-image{
    width: 70%;
    margin: auto;
  }

  .about-portrait{
    text-align: center;
  }

  .about-container h2{
    padding: 2.5rem;
    padding-top: 0;
    text-align: center;
    font-weight: lighter;
  }

  .about-container p{
    padding: 2.5rem;
  }

  .proj-list {
    /*margin-left: 1rem;*/
    margin: 2.5rem;
  }

  .grid-item{
    width: 100%;
  }

  .nav-block{
    display: block;
  }

}

@media (min-width: 43.75em) {
  .main-nav{
    display: inline-block;
  }

  .nav-block{
    display: inline-block;
  }

  .main-nav-item-img{
    float: left;
    text-align: left;
  }

  .main-nav-item{
    float: right;
  }

  .main-nav-links{
    text-align: right;
    display: inline-block;
  }

  img.about-image{
    width: 50%;
    margin: 0;
  }

  .about-container p{
    padding: 3rem;
  }

  .proj-list {
    /*margin: 3rem;*/
  }

  .grid-item{
    width:37%;
  }

}

@media (min-width: 80em) {
  img.about-image{
    width: 25%;
    margin: 0;
  }
  .about-container{
    display: inline-block;
  }
}
